

* {
  box-sizing: border-box;
}

body {
  
  margin: 0px 0px;
  font-family: Inter, sans-serif;
  background-color: #EAE7DC;  
  background: black;
  color: black;
  height: 100%;
  perspective: 1000px;
}



:root {
  --primary-color: #3498db;      
  --secondary-color: #e74c3c;
  --background-color: #f4f4f4;

  /* --button-color: #7091E6; */
  --button-color: #316FF6EE;

  /* --button-border-color: #3D52A0; */
  --button-border-color: black;

  /* --button-hover-color: #7091E6AA; */
  --button-hover-color: #316FF6CC;


  --filter-text-color: black; 

  --filter-hover-color: #316FF6AA;

  --button-text-color: black;

  --cardBG-color: #EDE8F5;

  /* --infoBG-color: #ADBBDA; */
  --infoBG-color: #D4CDE6;

  /* --border-color: #3D52A0; */
  --border-color: white;
}

/* 
--button-color: #FFDEAD;
  --button-border-color: black;
  --button-hover-color: #FFE5B4BB;

  --filter-text-color: black; 
  --filter-hover-color: #FFE5B4CC;

  --button-text-color: black;

  --cardBG-color: #F9F6EE;
  --infoBG-color: lightgrey;
  --border-color: #8e0303; */

.modal {
    animation: fadeIn 0.3s ease-in-out; 
    position: fixed;   
    
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
